.nospace{
    line-height: 0%;
    padding-top: 120px;
}
.underline{
    text-decoration: underline;
    padding: 40px;
    padding-bottom: 60px;
}
.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
  
.column {
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.color{
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
}

#underconstruction {
    background-color: rebeccapurple;
    text-decoration: line-through;
}

#shravyapdf{
    color: red;
    font: 1.2em Papyrus;

}

div {
    padding: 20px;
 } 

 a {
    color: rgb(161,194,250);
 }

 body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 36px;
    font-weight: bold;
}

header nav a {
    margin-left: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}


.logos {
    text-align: center;
    word-spacing: 30px;
}

.conclude {
    text-align: center;
    font-size: xx-small;
    line-height: 0%;
}

#more {display: none;}

.column h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.column p {
    color: gray;
    margin-bottom: 10px;
}

.column a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.column img {
    width: 60%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

blockquote {
    font: Helvetica;
    color: red;
}

.moref {
    padding-top: 120px;
    line-height: 30px;
    font-family: Copperplate;
}

.quotes {
    color: blue;
}